<launch>

  <!-- BRING UP -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>
    
  <!-- SLAM -->
    <include file="$(find awm)/launch/slam.launch"/>
    
  <!-- NAVIGATION -->
    <include file="$(find awm)/launch/navigation.launch"/>

  <!-- RVIZ -->
   <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
   
</launch>
